 .hero-categories{
    border: 1px solid lightgrey;
    line-height: 33px;
}
 .hero-categories ul{
    list-style: none;
}
 .hero-categories ul li a{
    text-decoration: none;
    color: black;
}
 .hero-categories ul li{
    padding-top: 10px;
}
