 .hero-categories{
    line-height: 20px;
}
.hero-categories-title{
    background-color: #76a333;
    line-height:26px;
    color: #fff;
    padding: 0px 20px;
}
 .hero-categories ul{
    list-style: none;
}
 .hero-categories ul li a{
    text-decoration: none;
    color: black;
}
 .hero-categories ul li{
    padding: 8px 0px;
}
 .hero-categories ul li:hover{
    background-color:#76a333;
    color: #fff!important;
}
/* category dropdown */
.categoryHide{
    display: none;
}
.categoryShow{
    display: block;
    background-color: rgb(190, 186, 186);
    position: absolute;
    width : 100%;
}

@media only screen and (max-width: 700px) and (min-width: 100px)  {
    .categoryShow{
        display: none;
    }
    .categoryHide{
        display: block;
        position: relative;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 900px) and (min-width: 701px)  {
    .categoryShow{
        display: block;
        position: absolute;
        background-color:#e2e2e2;
        width :85%;
        padding-left: 0px;
    }
    .categoryHide{
        display: none;
        
    }
}
@media only screen and (max-width: 1300px) and (min-width: 901px)  {
    .categoryShow{
        display: block;
        position: absolute;
        background-color:#e2e2e2;
        width :90%;
        padding-left: 0px;
    }
    .categoryHide{
        display: none;
        
    }
}
@media only screen and (max-width: 1700px) and (min-width: 1301px)  {
    .categoryShow{
        display: block;
        position: absolute;
        background-color:#e2e2e2;
        width :91%;
        padding-left: 0px;
    }
    .categoryHide{
        display: none;
        
    }
}
@media only screen and (max-width: 2500px) and (min-width: 1701px)  {
    .categoryShow{
        display: block;
        position: absolute;
        background-color:#e2e2e2;
        width :94%;
        padding-left: 0px;
    }
    .categoryHide{
        display: none;
        
    }
}
